<div class="avatar-box">
<div class="profile-avatar">
  <%= image_tag(current_user.avatar.url) %>
</div>
</div>

<div class="profile-info">
  <h2> <%= @user.first_name %> <%= @user.last_name %> </h2>
  <h5> <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @user.location %> </h5>
</div>


<div class="user-projects">
  <ul class="small-block-grid-2 medium-block-grid-5 large-block-grid-7">
    <% @user.projects.each do |project| %>
      <li class="singular-project">
        <%= link_to user_project_path(@user, project) do %>
        <%= image_tag (project.images.first) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
