<div class="user-page">
  <div class="user-content">
    <div class="avatar-box">
      <div class="profile-avatar">
        <%= image_tag(current_user.avatar.url) %>
      </div>
      <div class="profile-info">
        <h2> <%= @user.first_name %> <%= @user.last_name %> </h2>
        <h5> Oil Painter </h5>
        <h5> <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @user.location %> </h5>
      </div>
    </div>
  </div>


  <div class="gallery-container">
    <div class="gallery">
      <% @user.projects.each do |project| %>
      <div class="overlay">
        <div class="project">
          <%= link_to user_project_path(@user, project) do %>
          <%= image_tag (project.images.first) %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
