<div class="form-container">
<h3 class="menu-title">New Project</h3>
<%= simple_form_for([@user,@project]) do |f| %>
<p>
  <div class="form-group">
    <img id="img_prev" width=300 height=300 src="#" alt="Project Image" class="img-thumbnail hidden"/> <br/>
    <span class="btn btn-default btn-file">
      <%= f.file_field :images, id: "images-upload" %>
    </span>
    <%= f.hidden_field :images_cache %>
  </div>
</p>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.label :medium %><br>
  <%= f.text_field :medium %>
</p>

<div class="actions">
  <%= f.submit "Create Project", :class => 'radius button' %>
</div>
<% end %>
</div>
