<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="assets/modernizr.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Text+Me+One" rel="stylesheet">
    <script src="https://use.fontawesome.com/9b2b5e2406.js"></script>


    <title>ArtDrop</title>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <%= link_to 'ArtDrop', root_path %>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
      <% if user_signed_in? %>

          <li class="active">
          <%= link_to new_user_project_path(current_user) do %>
            <i class="fa fa-upload"></i> Upload
          <% end %>
          </li>

          <li class="active">
          <%= link_to current_user do %>
            <i class="fa fa-user-circle"></i> Profile
          <% end %>
          </li>

          <li class="active">
          <%= link_to destroy_user_session_path do %>
            <i class="fa fa-sign-out"></i> Sign Out
          <% end %>
          </li>

          <li class="active">
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-cog"></i> Edit Profile
          <% end %>
          </li>
          
      <% else %>

        <li class="active">
          <%= link_to '#', data: {:'reveal-id' => 'signinModal'} do %>
          <i class="fa fa-sign-in"></i>
          Sign In
          <% end %>
          <div id="signinModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <%= render 'devise/sessions/new' %>
              <%= link_to '#', data: {:'reveal-id' => 'passwordModal'} do %>
              <i class="fa fa-key"></i>
              Forgot Password?
              <% end %>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
        </li>


        <div id="passwordModal" class="reveal-modal" data-reveal aria-labelledby="passwordModalTitle" aria-hidden="true" role="dialog">
          <%= render 'devise/passwords/new' %>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>



        <li class="active">
          <%= link_to '#', data: {:'reveal-id' => 'signupModal'} do %>
            <i class="fa fa-user-circle"></i>
            Sign Up
          <% end %>
          <div id="signupModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <%= render 'devise/registrations/new' %>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
        </li>
      <% end %>
        </ul>
      </section>
    </nav>

    <p class="alert text-center"><%= alert %></p>
    <p class="notice text-center"><%= notice %></p>

    <%= yield %>

    <script src="assets/jquery.js"></script>
    <script src="assets/fastclick.js"></script>
    <script src="assets/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
